#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-BgWhite_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Softkeys-bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Black-cover_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Panel_8 {
  border-radius: 0px 0px 0px 0px;
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Panel_8 > .valign {
  vertical-align: top;
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Rectangle_116 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Label_56 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Bg_status_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Line_1 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Line_1 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Two-line-item_35 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Two-line-item_42 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Two-line-item_46 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-menu_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-more-vertical_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Search_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Share_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Bg_status_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-hour_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-signals_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3a97fccf-50ff-43c4-9d70-4d2856b99c67 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}