#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4f86cdf8-b1a3-45cd-9f8c-69a91368bfef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}