#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}