#s-c88ff36d-f41f-45b1-84ed-4414714e311a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Empty_screen_whiteTop {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Screen-bg > .clipping, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Softkeys-bg > .clipping, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Square > svg {
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Square > img, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Circle > svg {
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Circle > img, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Triangle > svg {
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Triangle > img, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Bg > .clipping, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Bg span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Bg span#rtr-s-Bg_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Status-bar {
  position: absolute;
  width: 352px;
  height: 20px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-hour > .clipping, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-hour span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-hour span#rtr-s-hour_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-signals > img, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 36.0pt;
  font-family: 'Nunito Black',Arial;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 > .clipping, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito Black',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 900;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito Black',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 900;
  line-height: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Text_1 span#rtr-s-Text_1_1 {
  color: #00C2CB;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito Black',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 900;
  line-height: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-input {
  position: absolute;
  width: 321px;
  height: 44px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 input::-webkit-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 input::-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 input:-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 input:-ms-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_3 > .paddingLayer {
  height: 20px;
  width: 84px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_5 marker {
  fill: #757575;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_5 {
  position: absolute;
  width: 321px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_5 {
  width: 89px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_6 marker {
  fill: #6200EE;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_6 {
  position: absolute;
  width: 321px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_6 {
  width: 89px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-input_1 {
  position: absolute;
  width: 321px;
  height: 44px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 input::-webkit-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 input::-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 input:-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 input:-ms-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_7 > .paddingLayer {
  height: 20px;
  width: 84px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_7 marker {
  fill: #757575;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_7 {
  position: absolute;
  width: 321px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_7 {
  width: 89px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_8 marker {
  fill: #6200EE;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_8 {
  position: absolute;
  width: 321px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_8 {
  width: 89px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-input_2 {
  position: absolute;
  width: 321px;
  height: 44px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 input::-webkit-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 input::-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 input:-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 input:-ms-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_8 > .paddingLayer {
  height: 20px;
  width: 84px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_9 marker {
  fill: #757575;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_9 {
  position: absolute;
  width: 321px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_9 {
  width: 89px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_10 marker {
  fill: #6200EE;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_10 {
  position: absolute;
  width: 321px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_10 {
  width: 89px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-input_3 {
  position: absolute;
  width: 321px;
  height: 44px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 input::-webkit-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 input::-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 input:-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 input:-ms-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_9 > .paddingLayer {
  height: 20px;
  width: 84px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_11 marker {
  fill: #757575;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_11 {
  position: absolute;
  width: 321px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_11 {
  width: 89px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_12 marker {
  fill: #6200EE;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_12 {
  position: absolute;
  width: 321px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_12 {
  width: 89px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-input_4 {
  position: absolute;
  width: 321px;
  height: 44px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 input::-webkit-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 input::-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 input:-moz-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 input:-ms-input-placeholder {
  color: #808080;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Input_10 > .paddingLayer {
  height: 20px;
  width: 84px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_13 marker {
  fill: #757575;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_13 {
  position: absolute;
  width: 321px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_13 {
  width: 89px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_14 marker {
  fill: #6200EE;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #shapewrapper-s-Line_14 {
  position: absolute;
  width: 321px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-Line_14 {
  width: 89px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #6200EE;
  box-shadow: none;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-raised_Button > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-raised_Button {
  position: absolute;
  width: 107px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Nunito-Bold',Arial;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-raised_Button > .clipping, #s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-raised_Button > .paddingLayer {
  height: 34px;
  width: 105px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Nunito-Bold',Arial;
  font-size: 10.0pt;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Nunito-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c88ff36d-f41f-45b1-84ed-4414714e311a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}