#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Bg-White {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-star_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Item-row_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-date_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-star_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-star_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-attachment_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Item-row_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-date_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-star_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-attachment_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-mic_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 #s-User_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f3088fd5-7f83-4334-9230-6849347d32b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}